html{
	scroll-behavior: smooth;
}
body{
    background-image: url(http://www.distancetomars.com/images/stars.jpg);
    justify-content: center;
    display: flex;
}
.header{
    height: 10vh;
}
.container{
    width:50vw;
}
#earth{
    justify-content: center;
    display: flex;
}
#earth div{
    position: relative;
}
#earth div .planet{
    position: absolute;
    top: 20vw;
    width: 3vw;
    height: 3vw;
    transform: translate(-50%,-50%);
}
#earth div .ring{
    position: absolute;
    top: 20vw;
    width: 15vw;
    height: 15vw;
    transform: translate(-50%,-50%);
}

#moon{
    /* height: 422000vw; */
}